<script>
    import Sortable from 'sortablejs';
    import { createEventDispatcher } from 'svelte';
    import { fly } from 'svelte/transition';
    
    export let tasks;
    export let category;
    export let giphy;
    export let show

    const dispatch = createEventDispatcher();

    $: array = tasks.filter(t => t.category == category)


    const deleteTask = (todo) => {
        dispatch('delete', {
            task: todo
        })
    }

    let gif = giphy


    const handleChangeHour = (todo) => {
        
        const now = new Date();
			const h = now.getHours();
			const m = now.getMinutes();
			const s = now.getSeconds();
			const hour = `${h}:${m}:${s}`
        todo.date = hour
    
    }

    let showBis = "-"

    const showList = () => {
        show = !show
        if(show === true){
            showBis = "-"
        } else {
            showBis = "+"
        }
    }

</script>


<style>

    .categorie{
        
        background-image:url({gif});
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
        height: 50vh;
        width: 300px;
        border-radius: 50%
    
    }

    h2{

        font-size: 4em;
        color: #1B9AAA;

    }

    .lists{

        background-color: #F5F1E3;
        min-height: 600px;

    }

    .list{

        max-width: 210px;
    }

</style>


<div class="mt-12 container m-4 rounded-md lists shadow-md ">

    
    
    <h2 class="text-center font-mono">{category}</h2>
    
    <div class="categorie m-auto mb-12" style="background-image:url({gif})"></div>

    <div class="flex justify-end">
        <button on:click={showList}>{showBis}</button>
    </div>
        
    {#if show === true}
        <div class="flex justify-center">
            <ul>
                {#each array as task}
                <li class="pb-4 list" transition:fly="{{ y: -200, duration: 500 }}">
                    {#if !task.completed}                
                        <input class="text-red-600" type="checkbox" bind:checked={task.completed} on:click={() => {handleChangeHour(task)}}> <span class="text-red-600">{task.todo}</span>
                        <p>add task at: {task.date}</p> 
                    {:else}
                        <input class="text-red-600" type="checkbox" bind:checked={task.completed} on:click={() => {handleChangeHour(task)}}> <span class="text-green-600">{task.todo}</span>
                        <p>ok since: {task.date}</p> 
                    {/if}
                    <span><button class="color-red-100" on:click|preventDefault={() => deleteTask(task)}>supprimer</button></span>
                </li>
                {/each}
            </ul>   
        </div>
    {/if}
</div>

<!-- {JSON.stringify()} -->

<h1>coucou</h1>